{
    "all": true,
    "include": [
        "app/**/*.{js,jsx,ts,tsx}"
    ],
    "exclude": [
        "**/*.d.ts",
        "**/*.test.{js,jsx,ts,tsx}",
        "**/*.spec.{js,jsx,ts,tsx}",
        "**/*.cy.{js,jsx,ts,tsx}",
        "**/node_modules/**",
        "cypress/**"
    ],
    "reporter": [
        "html",
        "json",
        "lcov",
        "text-summary"
    ],
    "check-coverage": false,
    "report-dir": "coverage"
}